.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 50px auto 10px;
    gap: 5vw;
    /* Pas touche au texte mon grand */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    aspect-ratio: 9/16;
    width: 12vw;
    min-height: 10vw;
    max-height: 35vw;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.2s ease-out;
}

.card-info {
    position: absolute;
}

.card-artist {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.card-img-long {
    display: block;
    height: 100%;
    object-fit: cover;
}

.card-img-wide {
    display: none;
}

.card-win {
    outline: 5px solid #6ed46a;
}

.card-lose {
    outline: 5px solid #c12121;
    pointer-events: none;
}

.card-lose > img, .card-neutral {
    filter: grayscale(100%) brightness(0.7);
    pointer-events: none;
}

.card-hidden {
    display: none;
}



@media only screen and (max-width: 800px) {    
    .cards {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh;
        height: 50vh;
        top: 40%;
        margin-top: 0;
    }

    .card {
        aspect-ratio: 31/9;
        width: 75vw;
        /* height: 15vh; */
    }

    .card-img-long {
        display: none;
    }

    .card-img-wide {
        display: block;
        width: 100%; 
        object-fit: fill;
        object-position: center top;
    }
}