.dialog-help {
    width: fit-content;
    max-width: 70%;
    height: fit-content;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #212529;
}

.help {
    display: flex;
    flex-direction: column;
}

.button-close-help {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #c12121;
}

.button-close-help:hover {
    background-color: #343a40;
    cursor: pointer;
}

.help-text-welcome {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.easter-egg:hover {
    cursor: pointer;
}

.help-text-bye {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 20px;
}

.help-text {
    margin-top: 5px;
    padding: 0;
    font-size: 1.2rem;
}

.text-separator {
    margin-top: 15px;
}

.open-settings {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {  
    .dialog-help {
        padding: 10px 20px;
    }

    .button-close-help {
        top: 0;
        right: 0;
    }

    .help-text-welcome {
        font-size: 1.9rem;
        margin-bottom: 10px;
    }

    .help-text {
        font-size: 1.1rem;
    }

    .text-separator {
        margin-top: 10px;
    }

    .help-text-bye {
        font-size: 1.5rem;
        margin: 15px auto 10px;
    }
}