@font-face {
    font-family: "Righteous-Regular";
    src: url("font/Righteous-Regular.ttf");
}

* {
    color: white;
}

html {
    font-size: 1.4vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(90deg, #161625 0%, #0c0c14 100%); */
    background: linear-gradient(90deg, #1e1e33 0%, #20192a 100%);
    overflow: hidden;
    font-family: 'Righteous-Regular';
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 2vh;
    }
}