.div-scores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: 30px 5px 0;
}

.lyrics {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lyrics-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 20px;
    transition: box-shadow 0.4s ease-out;
}

.lyrics-content:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
    /* transform: scale(1.02); */
}

.lyrics-content > span {
    margin: 5px;
    font: 100 1.5rem 'Playfair Display', sans-serif;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: fit-content;
    min-width: 100px;
    margin: 0 auto 0;
    font: 100 1.5rem 'Playfair Display', sans-serif;
    transition: opacity 0.2s ease-out;
}

.result:hover {
    opacity: 0.5;
}

.reveal-song {
    opacity: 1;
    cursor: pointer;
}

.reveal-song > .result-song {
    text-decoration: underline;
}

.score, .streak {
    margin: 0 10px;
    font-size: 2.2rem;
    font-weight: 700;
    transition: transform 0.3s ease-out;
}

.best {
    margin: 10px;
    font-weight: 0;
    font-size: 1rem;
}

.score:hover, .streak:hover {
    transform: scale(1.05);
}

@media only screen and (max-device-width : 800px) {
    .div-scores {
        margin: 5px;
    }

    .lyrics {
        font-size: 1.2em;
        margin: 15px 0 10px;
    }

    .score, .streak {
        font-size: 3em;
    }

    .best {
        font-size: 1em;
    }
}