.div-scores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: 30px 5px 0;
}

.lyrics {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lyrics-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 20px;
    transition: box-shadow 0.4s ease-out;
    /* Pas touche au texte mon grand */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.lyrics-content:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
}

.lyrics-content > span {
    margin: 5px;
    font: 100 1.5rem 'Playfair Display', sans-serif;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: fit-content;
    min-width: 100px;
    margin: 0 auto 0;
    font: 100 1.5rem 'Playfair Display', sans-serif;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
}

.result:hover {
    opacity: 0.5;
}

.reveal-song {
    opacity: 1;
    cursor: pointer;
}

.result-song {
    text-decoration: underline;
}

.result-date {
    font-size: 1rem;
    padding-top: 0.3rem;
}

.score, .streak {
    margin: 0 10px;
    font-size: 2.2rem;
    font-weight: 700;
    transition: transform 0.3s ease-out;
    /* Pas touche au texte mon grand */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.best {
    margin: 10px;
    font-weight: 0;
    font-size: 1rem;
}

@media only screen and (max-device-width : 800px) {
    .div-scores {
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 3vh 5px 0;
    }

    .lyrics {
        position: absolute;
        flex-direction: column-reverse;
        top: 0;
        margin: 8vh 0 10px;
    }

    .lyrics-content {
        width: 90vw;
        margin: 0;
        padding: 10px;
        border-radius: 0;
        transition: box-shadow 0.4s ease-out;
    }
    
    .lyrics-content:hover {
        box-shadow: none;
    }

    .lyrics-content > span {
        margin: 5px;
        font-size: 1.2em;
        font-family: 'Righteous-Regular';
        font-weight: 100;
    }

    .result {
        font-size: 1.3rem;
        z-index: 1;
        user-select: auto;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
    }

    .reveal-song {
        padding: 5px 10px;
        border-radius: 15px;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
    }

    .score, .streak {
        font-size: 1.6em;
    }

    .best {
        font-size: .6em;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
    }
}