.dialog-settings {
    width: 100vw;
    height: fit-content;
    max-width: 70%;
    min-width: 30%;
    padding: 30px;
    border-radius: 10px;
    background-color: #212529;
}

.settings {
    display: flex;
    flex-direction: column;
}

.button-close-settings {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #c12121;
}

.button-close-settings:hover {
    background-color: #343a40;
    cursor: pointer;
}

.settings-text-welcome {
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.settings-text-welcome>* {
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

/* Voir en bas pour le choix des artistes */

.settings-text-save {
    text-align: center;
    width: fit-content;
    padding: 5px 20px 7px;
    margin: 20px auto 0;
    border-radius: 10px;
    border: #c12121 solid 2px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.settings-text-save:hover {
    background-color: #475059;
}

.message-erreur {
    text-align: center;
    width: fit-content;
    padding: 5px 20px;
    margin: 20px auto 0;
    border-radius: 10px;
    color: #c12121;
    font-size: 1.1rem;
    font-weight: bold;
}



/* Slider */
.speed-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0 40px;
}

.settings-speed-text {
    font-size: 1.2rem;
    /* font-weight: bold; */
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch .slide {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 3px solid white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

.slide:checked+.slider:before {
    transform: translateX(30px);
    background-color: #c12121;
    transition: transform 0.2s ease-in-out;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .speed-mode {
        margin: 20px 0 25px;
    }

    .switch {
        width: 70px;
        height: 36px;
    }

    .slider:before {
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 3px;
    }

    .slide:checked+.slider:before {
        transform: translateX(30px);
    }
}


/*********** Checkbox ***********/

/* Conteneur */
.settings-artists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 4fr)); */
    /* grid-gap: 5px; */
}

/* cellule de checkbox */
.grid-cell {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-content: center;

}

/* Checkbox */
.grid-cell input[type="checkbox"] {
    display: none;
    margin-right: 5px;
}

/* Nom artiste */
.grid-cell label {
    position: relative;
    padding-left:1.5rem;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
}

/* Contours / checkbox */
.grid-cell label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.5em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
}

/* Label lorsque coché */
.grid-cell input[type=checkbox]:checked+label {
    color: #db2626;
    font-weight: bold;
}

/* Checkbox lorsque coché */
.grid-cell input[type=checkbox]:checked+label:before {
    background: #db2626;
    border-color: #abb5c9;
}

/* Transitions */
.grid-cell label,
.grid-cell label::before {
    transition: 0.25s all ease;
}