.dialog-settings {
    width: 100vw;
    height: fit-content;
    min-width: 30%;
    max-width: 70%;
    padding: 30px;
    border-radius: 10px;
    background-color: #212529;
}

.settings {
    display: flex;
    flex-direction: column;
}

.button-close-settings {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #c12121;
}

.button-close-settings:hover {
    background-color: #343a40;
    cursor: pointer;
}

.settings-text-welcome {
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.settings-text-welcome>* {
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

/* Voir en bas pour le choix des artistes */

.settings-text-save {
    text-align: center;
    width: fit-content;
    padding: 5px 20px 7px;
    margin: 20px auto 0;
    border-radius: 10px;
    border: #c12121 solid 2px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.settings-text-save:hover {
    background-color: #475059;
}

.message-erreur {
    text-align: center;
    width: fit-content;
    padding: 5px 20px;
    margin: 20px auto 0;
    border-radius: 10px;
    color: #c12121;
    font-size: 1.1rem;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {  
    .dialog-settings {
        padding: 15px;
        max-width: 80%;
    }

    .button-close-settings {
        top: 0;
        right: 0;
    }

    .message-erreur {
        padding: 5px 0px;
        font-size: .9rem;
    }
}



/* Slider */
.speed-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}

.settings-speed-text {
    font-size: 1.2rem;
    /* font-weight: bold; */
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch .slide {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 3px solid white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

.slide:checked+.slider:before {
    transform: translateX(30px);
    background-color: #c12121;
    transition: transform 0.2s ease-in-out;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Media Query pour le bouton speed */
@media only screen and (max-width: 800px) {
    .speed-mode {
        margin: 20px 0 25px;
    }

    .switch {
        width: 60px;
        height: 25px;
    }

    .slider:before {
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 3px;
    }

    .slide:checked+.slider:before {
        transform: translateX(32px);
    }
}


/*********** Checkbox ***********/

/* Conteneur */
.settings-artists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* cellule de checkbox */
.grid-cell {
    overflow-x: hidden;
}

/* Checkbox */
.grid-cell input[type="checkbox"] {
    display: none;
    margin-right: 5px;
}

/* Nom artiste */
.grid-cell label {
    position: relative;
    display: inline-flex;
    padding-left: 1.5rem;
    line-height: 2;
    font-weight: 100;
    white-space: nowrap;
    cursor: pointer;
}

/* Contours / checkbox */
.grid-cell label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.5em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
}

/* Label lorsque coché */
.grid-cell input[type=checkbox]:checked+label {
    color: #db2626;
    font-weight: 700;
}

/* Checkbox lorsque coché */
.grid-cell input[type=checkbox]:checked+label:before {
    background: #db2626;
    border-color: #abb5c9;
}

/* Transitions */
.grid-cell label,
.grid-cell label::before {
    transition: 0.25s all ease;
}

/* Media query pour les checkbox des artistes */
@media only screen and (max-width: 800px) {  
    .settings-artists {
        max-height: 30vh;
        grid-template-columns: repeat(2, 1fr);
        overflow-y: scroll;
    }

    .grid-cell label:before {
        top: 0.5em;
        left: 0.2em;
    }

    .grid-cell label {
        font-size: .9rem;
    }
}


/*********** Modes ***********/
.settings-modes {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 2rem;
    margin: 10px auto 30px;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.settings-modes>.div-slider {
    padding-top: 20px;
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
    bottom: -4px;
    width: calc(33.33% + 8px);
    background-color: #c12121;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
    transition: transform 0.3s;
}

.settings-modes label {
    color: black;
    position: relative;
    width: calc(33.333% - 1px);
    float: left;
    padding: 20px 0px 42px;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: color 0.3s;
}

.settings-modes label:first-child {
    border-left: none;
}

.settings-modes label input {
    position: absolute;
    top: -200%;
}

.settings-modes label div {
    z-index: 5;
    position: absolute;
    width: 100%;
    color: white;
}

.settings-modes label.selected {
    color: white;
}

/* Media Query pour le bouton modes */
@media only screen and (max-width: 800px) {  
    .settings-modes {
        width: 15rem;
        height: 2.5rem;
    }
    
    .settings-modes label {
        padding: 25px 0px 42px;
    }
}